@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

body {
text-align: center;
background-image: url("hm.png");
background-repeat: no-repeat;
background-size: cover;
}

img {
  border-radius: 8px;
  height:90px;
  width:90px;
}
h1{
	position:center;
    line-height:450%;   
	font-family:Verdana;
}
.login{
	width : 250px;
	height:340px;
	color:#fff;
	background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
	position: absolute;
	top: 60%;
	left:50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	padding: 40px 25px;
}
.login h3{
	width: 220px;
	text-align: center;
	padding-left: 11px;
	margin-bottom: 20px;
	font-size: 35px;
	color: #9EC8DF;
	
}

.login input{
	width:100%;
	height:35px;
	padding-top:10px;
	margin-bottom:15px;
	background: transparent;
	border-bottom: 1px solid #fff;
	border-top:none;
	border-left:none;
	border-right:none;
	color:#fff;
	font-size: 15px;
	letter-spacing:1px;
	outline:none;
}
.login input:focus{
	outline:none;
}
.placeholder{
	color:#fff;
	font-family:Arial;
}
.btn{
	font-size: 18px;
	padding: 10px 15px;
	background: transparent;
	border:none;
	cursor:pointer;
}
.btn a{
	text-decoration:none;
	color: #9EC8DF;
	font-weight: bold;
}
.btn a:hover{
	color:	#7B68EE	;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #ff0000;
  color: white;
}
.bod{
	width:100%;
	height:20px;
	padding-top:40px;
	margin-bottom:20p;
	border-bottom: 2px solid #fff;
	border-top:none;
	border-left:none;
	border-right:none;
	color: #7B68EE;
	font-size: 15px;
	letter-spacing:1px;
	outline:none;
}